@use "global" as *;

.page-faq {
  margin-top: rem(51.2);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.page-faq__shopInfo-contact-section {
  margin-top: rem(99.2);
  @include mq("md") {
    margin-top: rem(136);
  }
}
