@use "global" as *;

.page-information {
  margin-top: rem(120);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.page-information__shopInfo-contact {
  margin-top: rem(106);
  @include mq("md") {
    margin-top: rem(138);
  }
}
