@use "global" as *;

.page-contact {
  margin-top: rem(51.2);
  @include mq("md") {
    margin-top: rem(148.8);
  }
}

.page-contact--not-filled-in {
  @include mq("md") {
    margin-top: rem(147.2);
  }
}
