@use "global" as *;

.page-terms-of-service {
  margin-top: rem(52);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.page-terms-of-service__shopInfo-contact-section {
  margin-top: rem(105.6);
  @include mq("md") {
    margin-top: rem(140.8);
  }
}
