@use "global" as *;

.page-voice {
  margin-top: rem(51.2);
  @include mq("md") {
    margin-top: rem(150);
  }
}

.page-voice__shopInfo-contact-section {
  margin-top: rem(104);
  @include mq("md") {
    margin-top: rem(140.8);
  }
}

