@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$japanese-font-family01: "Noto Sans JP", sans-serif;
$japanese-font-family02: "Noto Serif JP", serif;
$english-font-family01: "Lato", sans-serif;
$english-font-family02: "Gotu", sans-serif;

// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $japanese-font-family01;
  color: #0d2936;
}
//コンタクトフォーム、edgeとsafariのスマホで文字が青くなるのを防ぐ
select {
  color: #0d2936;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #0d2936;
$white: #fff;
$main-blue: #408f95;
$light-blue: #ddf0f1;
