@use "global" as *;

.aside section:not(:first-child) {
  margin-top: rem(80);
}

.aside__heading {
  width: 100%;
  border-left: rem(8) solid $main-blue;
  padding-left: rem(74);
  background-image: url(../images/common/whale-icon-black.svg);
  background-position: top 50% left rem(24);
  background-repeat: no-repeat;
  background-size: rem(50) rem(50);
  height: rem(50);
  display: flex;
  align-items: center;
  @include mq("md") {
  }
}

.aside__heading-span {
  display: block;
  font-size: rem(24);
  font-weight: $regular;
}

.aside__voice-content {
  margin-top:  rem(40);
}
