@use "global" as *;

.aside__campaign-content {
  margin-top: rem(28);
}

.aside-campaign__sub-campaign-card {
  display: block;
}

.aside-campaign__item:not(:first-child) {
  margin-top: rem(40);
}

.aside-campaign__button-wrapper {
  text-align: center;
  margin-top: rem(40);
}
