@use "global" as *;

.blog-cards {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem(40);
  @include mq("md") {
    column-gap: rem(40);
    margin-inline: initial;
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards__item {
  width: 100%;
}
