@use "global" as *;

.button {
  width: rem(202);
  height: rem(54);
  position: relative;
  display: inline-block;
  font-family: $english-font-family02;
  font-weight: normal;
  font-size: rem(14);
  color: $white;
  background-color: $main-blue;
  border: rem(1) solid $main-blue;
  padding: rem(16) 0;
  text-align: center;
  transition: 0.3s background-color;
  z-index: 20;
}

.button__span,
.button:hover .button__span {
  display: inline-block;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.button:hover .button__span {
  color: $main-blue;
}

.button::after {
  width: rem(202);
  height: rem(54);
  display: inline-block;
  position: absolute;
  top: rem(4);
  left: rem(4);
  content: "";
  border: rem(1) solid $main-blue;
  z-index: -1;
}

//ホバーで色が変わる
.button::before {
  background-color: $white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

//ホバーで色が変わる
.button:hover::before {
  display: inline-block;
  transform: scale(1, 1);
}

//ホバー前後の矢印
.button__span::after,
.button:hover .button__span::after {
  width: rem(40);
  height: rem(6);
  margin-left: rem(8);
  position: absolute;
  bottom: rem(17);
  display: inline-block;
}

.button__span::after {
  content: url(../images/common/arrow-btn_white.svg);
}

.button:hover .button__span::after {
  content: url(../images/common/arrow-btn_blue.svg);
  z-index: 20;
}
