@use "global" as *;

.campaign-card {
  width: rem(280);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  margin-right: rem(2);
  margin-bottom: rem(2);
  @include mq("md") {
    max-width: rem(333);
    width: 100%;
  }
}

.campaign-card__img {
  width: rem(280);
  @include mq("md") {
    width: rem(333);
  }
}

.campaign-card__img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 280 / 188;
  @include mq("md") {
    aspect-ratio: 333 / 223;
  }
}

.campaign-card__body {
  padding: rem(19.2) rem(16) rem(21);
  @include mq("md") {
    padding: rem(28) rem(16) rem(30);
  }
}

.campaign-card__title-wrapper {
  padding-bottom: rem(6);
  border-bottom: rem(1) solid $main-blue;
  @include mq("md") {
    padding-bottom: rem(3.2);
    height: 100%;
  }
}

.campaign-card__title {
  color: $black;
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $medium;
  margin-top: rem(8);
  @include mq("md") {
    margin-top: rem(11.2);
  }
}

.campaign-card__price-wrapper {
  margin-top: rem(8);
  padding-right: rem(18);
  padding-left: rem(18);
  @include mq("md") {
    padding-left: rem(16);
    margin-top: rem(16);
  }
}

.campaign-card__price-text {
  font-size: rem(14);
  text-align: center;
  @include mq("md") {
    font-size: rem(16);
  }
}

.campaign-card__price {
  font-size: rem(32);
  font-weight: $bold;
  color: $main-blue;
  font-family: $english-font-family01;
  @include mq("md") {
    font-size: rem(40);
  }
}

.campaign-card__price-before {
  margin-right: auto;
  color: $black;
  font-family: $english-font-family01;
  font-size: rem(20);
  text-decoration: line-through;
  text-decoration-thickness: rem(3);
  text-decoration-color: #c94800;
  padding-right: rem(16);
  @include mq("md") {
    font-size: rem(24);
    padding-right: rem(26);
  }
}
