@use "global" as *;

.category-label {
  padding: rem(6) rem(12);
  border: rem(1) solid $main-blue;
  color: $main-blue;
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1;
  @include mq("md") {
    padding: rem(6) rem(16);
    line-height: calc(22 / 12);
  }
}
