@use "global" as *;

.color-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.color-box .js-color-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $main-blue;
}

.color-box picture,
.color-box img,
.color-box source,
.color-box {
  display: block;
  width: 100%;
  object-fit: cover;
}
