@use "global" as *;

.form-checkbox label {
  display: block;
  @include mq(md) {
  }
}

.form-checkbox label:not(:first-of-type) {
  margin-top: rem(3.2);
  @include mq(md) {
    margin-top: rem(3);
  }
}

.form-checkbox input {
  display: none;
}

.form-checkbox input + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 rem(22.4);
  position: relative;
  font-size: rem(15);
  line-height: 1;
}

.form-checkbox input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: rem(1) solid $main-blue;
  display: block;
  width: rem(14);
  height: rem(14);
}

.form-checkbox input + span::after {
  content: "";
  margin-top: rem(-2);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  display: block;
  width: rem(13);
  height: rem(6);
  border-bottom: rem(3) solid #c94800;
  border-left: rem(3) solid #c94800;
  transition: 0.3s;
  opacity: 0;
}

.form-checkbox input:checked + span::after {
  opacity: 1;
}
