@use "global" as *;

.form-select select {
  padding: rem(11.5) rem(50) rem(11.5) rem(15);
  width: 100%;
  font-size: rem(15);
  line-height: 1;
  border-radius: 0;
  border: rem(1) solid $main-blue;
  appearance: none;
  cursor: pointer;
}

.form-select {
  position: relative;
}

.form-select::after {
  content: "";
  display: block;
  position: absolute;
  top: rem(15);
  right: rem(10);
  border-style: solid;
  border-right: rem(6) solid transparent;
  border-left: rem(6) solid transparent;
  border-top: rem(10) solid $main-blue;
  border-bottom: 0;
}

.form-select select::-ms-expand {
  display: none;
}
