@use "global" as *;

.fv {
  width: 100%;
  height: 100vh;
}

.fv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.fv__swiper {
  height: inherit;
}

.fv__title-wrap {
  position: absolute;
  z-index: 10;
  top: 49.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  @include mq("md") {
    top: 50%;
  }
}

.fv__title-large {
  font-family: $english-font-family01;
  font-weight: 400;
  font-size: rem(40);
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  color: $white;
  text-align: center;
  line-height: 1;
  @include mq("md") {
    font-size: rem(80);
  }
}

.fv__title-small {
  font-family: $english-font-family02;
  font-weight: $regular;
  font-size: rem(20);
  color: $white;
  text-align: center;
  line-height: 1;
  margin-top: rem(11.2);
  @include mq("md") {
    margin-top: rem(16);
  }
}
