@use "global" as *;

.gallery-grid {
  @include mq("md") {
    max-width: rem(1080);
    width: 100%;
    margin-inline: auto;
  }
}

.gallery-grid__container {
  display: grid;
  width: 100%;
  @include mq("md") {
    width: 100%;
    max-height: rem(746);
    grid-template-columns: 45.55% 53.7%;
    grid-gap: rem(8);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "vertical horizontal-top"
      "vertical horizontal-bottom";
  }
}

.gallery-grid__container:not(:first-child) {
  margin-top: rem(8);
}

.gallery-grid__grid-item {
  width: 100%;
}

.gallery-grid__grid-item--vertical {
  grid-column: 1/2;
  grid-row: 1/3;
  grid-area: "vertical";
}

.gallery-grid__grid-item--horizontal {
  grid-column: 2/3;
  grid-row: 1/2;
  grid-area: "horizontal-top";
}

.gallery-grid__grid-item--horizontal {
  grid-column: 2/3;
  grid-row: 2/3;
  grid-area: "horizontal-bottom";
}

.gallery-grid__modal-open--vertical img {
  width: 100%;
  height: 100%;
  aspect-ratio: 492 / 746;
  object-fit: cover;
  display: block;
}

.gallery-grid__grid-item--horizontal-top img,
.gallery-grid__grid-item--horizontal-bottom img {
  height: 100%;
  aspect-ratio: 580 / 369;
  object-fit: cover;
  display: block;
}
