@use "global" as *;

.gallery-grid {
  @include mq("md") {
    max-width: rem(1130);
    width: 100%;
    margin-inline: auto;
  }
}

.gallery-grid__container {
  display: grid;
  width: 100%;
  row-gap: rem(8);
  grid-template-columns: 1fr;
  @include mq("md") {
    width: 100%;
    max-height: rem(746);
    grid-template-columns: 45.55% 53.7%;
    grid-gap: rem(8);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "vertical horizontalTop"
      "vertical horizontalBottom";
  }
}

.gallery-grid__container.gallery-grid__container02 {
  @include mq("md") {
    grid-template-columns: 53.7% 45.55%;
    grid-template-areas:
      "horizontalTop vertical"
      "horizontalBottom vertical";
  }
}

.gallery-grid__container:not(:first-child) {
  margin-top: rem(8);
}

.gallery-grid__grid-item {
  width: 100%;
}

//１つ目のコンテナ
.gallery-grid__grid-item--vertical {
  @include mq("md") {
    grid-column: 1/2;
    grid-row: 1/3;
    grid-area: vertical;
  }
}

.gallery-grid__grid-item--horizontal-top {
  @include mq("md") {
    grid-column: 2/3;
    grid-row: 1/2;
    grid-area: horizontalTop;
  }
}

.gallery-grid__grid-item--horizontal-bottom {
  @include mq("md") {
    grid-column: 2/3;
    grid-row: 2/3;
    grid-area: horizontalBottom;
  }
}

.gallery-grid__modal-open--vertical img {
  aspect-ratio: 345 / 523;
  @include mq("md") {
    width: 100%;
    height: 100%;
    aspect-ratio: 492 / 746;
    object-fit: cover;
    display: block;
  }
}

.gallery-grid__grid-item--horizontal-top img,
.gallery-grid__grid-item--horizontal-bottom img {
  aspect-ratio: 345 / 219;
  @include mq("md") {
    height: 100%;
    aspect-ratio: 580 / 369;
    object-fit: cover;
    display: block;
  }
}

//２つ目のコンテナ
.gallery-grid__container02 .gallery-grid__grid-item--vertical {
  grid-row: 3/4;
  @include mq("md") {
    grid-column: 2/3;
    grid-row: 1/3;
    grid-area: vertical;
  }
}

.gallery-grid__container02 .gallery-grid__grid-item--horizontal-top {
  grid-row: 1/2;
  @include mq("md") {
    grid-column: 1/2;
    grid-row: 1/2;
    grid-area: horizontalTop;
  }
}

.gallery-grid__container02 .gallery-grid__grid-item--horizontal-bottom {
  grid-row: 2/3;
  @include mq("md") {
    grid-column: 1/2;
    grid-row: 2/3;
    grid-area: horizontalBottom;
  }
}
