@use "global" as *;

.global-navigation {
}

.global-navigation__columns {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  @include mq("md") {
    grid-template-rows: auto;
    grid-template-columns: repeat(4, auto);
  }
}

.global-navigation__item:not(:first-child) {
  margin-top: rem(16);
}

.global-navigation__item,
.global-navigation__sub-item {
}

.global-navigation__item-link,
.global-navigation__sub-item-link {
  color: $white;
  font-size: rem(16);
  padding-top: rem(6);
  padding-bottom: rem(6);
  display: block;
}

.global-navigation__item-link,
.global-navigation__sub-item-link {
  margin-top: rem(6);
}

.global-navigation__item__link {
  font-weight: $bold;
}

.global-navigation__item {
  background-image: url(../../assets/images/common/starfish.svg);
  background-position: left rem(14);
  background-repeat: no-repeat;
  background-size: rem(18) rem(18);
  padding-left: rem(20);
}

.global-navigation__sub-items {
}

.global-navigation__sub-item {
}

.global-navigation__sub-item-link {
  font-weight: $regular;
}
