@use "global" as *;

.global-navigation {
  width: 100%;
  @include mq("md") {
  }
}

.global-navigation__columns {
  width: 100%;
  display: grid;
  grid-template-columns: rem(173) rem(173);
  row-gap: rem(16);
  @include mq("md") {
    grid-template-rows: auto;
    grid-template-columns: repeat(4, auto);
    column-gap: rem(120);
  }
}

.global-navigation__items {
  width: 100%;
  @include mq("md") {
  }
}

.global-navigation__item {
  background: url(../../assets/images/common/starfish.svg);
  background-position: left -0.85rem top rem(10);
  background-repeat: no-repeat;
  background-size: rem(23) rem(23);
  padding-left: rem(20);
}

.global-navigation__item:not(:first-child) {
  margin-top: rem(28.8);
}


.global-navigation__item-link,
.global-navigation__sub-item-link {
  color: $white;
  font-size: rem(16);
  padding-top: rem(6);
  padding-bottom: rem(6);
  display: block;
  line-height: calc(18 / 16);
}

.global-navigation__item-link {
  font-weight: $bold;
  margin-top: rem(9.82);
}

.global-navigation__sub-item-link {
  margin-top: rem(12.8);
  font-weight: $regular;
}

.global-navigation__sub-item-link:not(:first-child) {
}
