@use "global" as *;

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: rem(80);
  background-color: rgba(13, 41, 54, 0.68);
  @include mq("md") {
    height: rem(90);
  }
}

.header__inner {
  width: 100%;
  height: inherit;
  position: relative;
  @include mq("md") {
    padding-right: rem(20);
  }
}

.header__logo {
  width: rem(104);
  height: auto;
  position: fixed;
  z-index: 6000;
  top: rem(21);
  left: rem(14);
  aspect-ratio: 104 / 38;
  @include mq("md") {
    aspect-ratio: 133 / 50;
    width: rem(135);
    height: auto;
    top: rem(20);
    left: rem(40);
  }
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__hamburger {
  cursor: pointer;
}

