@use "global" as *;

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // padding-top: rem(91);
  // padding-bottom: rem(91);
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  background: rgba(32, 32, 32, 80%);
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__body {
  position: relative;
  display: inline-block;
  // width: 90%;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  padding: 10px;
  cursor: pointer;
}

.modal__content {
  padding-top: rem(91);
  padding-bottom: rem(91);
}

.modal__img-wrap {
  max-width: 100%; // 最大幅を親要素の100%に制限
  max-height: 90vh; // 画面の高さの90%を超えないように制限
}

.modal__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__img--vertical {
  aspect-ratio: 492 / 746;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 90%; // 最大幅を親要素の100%に制限
  max-height: 90vh; // 画面の高さの90%を超えないように制限
}

.modal__img--horizontal {
  aspect-ratio: 580 / 369;
}
