@use "global" as *;

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  background: rgba(32, 32, 32, 80%);
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__body {
  display: inline-block;
}

.modal__body--horizontal {
  @include mq("md") {
    width: 63.88%;
  }
}

.modal__img-wrap {
  width: 100%;
  height: auto;
}

.modal__img {
  display: block;
  margin-inline: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 90vh; // 画面の高さの90%を超えないように制限
}

.modal__img--vertical {
  aspect-ratio: 492 / 746;
}

.modal__img--horizontal {
  aspect-ratio: 580 / 369;
}
