@use "global" as *;

.section-title {
}

.section-title__english {
  font-size: rem(32);
  font-family: $english-font-family02;
  text-align: center;
  @include mq("md") {
    font-size: rem(40);
  }
}

.section-title__english.section-title__english--large {
  font-size: rem(80);
  font-weight: $regular;
  line-height: 1;
}

.section-title__english::first-letter {
  color: $main-blue;
}

.section-title__japanese {
  font-family: $japanese-font-family01;
  text-align: center;
  margin-top: rem(0);
  font-size: rem(11);
  color: $main-blue;
  @include mq("md") {
    font-size: rem(12);
    margin-top: rem(-3.2);
  }
}

.section-title__japanese--english-large {
  @include mq("md") {
    margin-top: rem(-6);
    margin-left: rem(-10);
    letter-spacing: 0.08em;
  }
}

.section-title__english--white,
.section-title__english--white::first-letter,
.section-title__japanese--white {
  @include mq("md") {
    color: $white;
  }
}
