@use "global" as *;

.shopInfo-contact {
  padding: rem(80) 0 rem(100);
  @include mq("md") {
    padding: rem(140) 0 rem(160);
  }
}

.shopInfo-contact__container {
  position: relative;
  @include mq("md") {
    max-width: rem(1080);
    width: 100%;
    margin-inline: auto;
    box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
    padding: rem(80) 0 rem(75.2);
  }
}

.shopInfo-contact__flex-box {
  @include mq("md") {
    display: flex;
  }
}

.shopInfo-contact__fishes-illustration {
  position: absolute;
  top: rem(-28.8);
  right: calc(50% - max(32.67vw, rem(172.8)));
  width: rem(109);
  height: auto;
  @include mq("md") {
    top: rem(-44);
    right: calc(50% - min(48.31vw, rem(670.4)));
    width: rem(301);
  }
}

.shopInfo-contact__fishes-illustration img {
  aspect-ratio: 109 / 50;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq("md") {
    aspect-ratio: 301 / 138;
  }
}
