@use "global" as *;

.sub-contact__inner.inner {
  width: 100%;
  @include mq("md") {
    max-width: rem(860);
  }
}

.sub-contact__form {
  width: 100%;
  @include mq(md) {
    width: rem(700);
  }
}
