@use "global" as *;

.sub-contact__inner.inner {
  width: 100%;
  @include mq("md") {
    max-width: rem(872);
    padding-inline: 0;
  }
}

.sub-contact__form {
  width: 100%;
  position: relative;
  z-index: 1;
  @include mq(md) {
    width: rem(700);
    margin-inline: auto;
  }
}
