@use "global" as *;

.sub-blog__flex {
  @include mq("md") {
    display: flex;
    gap: 7.5%;
  }
}

.sub-blog__main {
  width: 100%;
  position: relative;
  z-index: 1;
  @include mq("md") {
    width: 65.37%;
  }
}

.sub-blog__blog-cards {
  padding: 0 rem(5.5);
  @include mq("md") {
    padding: 0;
  }
}

.sub-blog__aside {
  margin-top: rem(80);
  width: 85%;
  margin-inline: auto;
  @include mq("md") {
    width: 27.22%;
    margin-top: 0;
  }
}

.sub-blog__pagenavi {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(86.4);
  }
}
