@use "global" as *;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide picture,
.swiper-slide img {
  height: inherit;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide--top-campaign {
  width: 74.66%;
  max-width: rem(280);
  @include mq("md") {
    max-width: rem(332);
    width: 100%;
  }
}

.top-campaign__swiper__arrow-wrap {
  display: flex;
  width: rem(240);
  height: rem(80);
  justify-content: space-between;
  position: absolute;
  top: rem(-130);
  right: 17.22%;
}

.swiper-button-prev.top-campaign__swiper-button-prev,
.swiper-button-next.top-campaign__swiper-button-next {
  width: rem(80);
  height: rem(80);
  border: rem(1) solid $main-blue;
  border-radius: 50%;
  position: relative;
  background-image: url(../images/common/arrow-btn_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev.top-campaign__swiper-button-prev {
  rotate: 180deg;
  background-position: center rem(30);
}

.swiper-button-prev.top-campaign__swiper-button-prev::after,
.swiper-button-next.top-campaign__swiper-button-next::after {
  content: "";
}
