@use "global" as *;

.terms-of-service__heading {
  font-size: rem(24);
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(32);
  }
}

.terms-of-service__body {
  margin-top: rem(40);
  @include mq("md") {
  }
}

.terms-of-service__topic {
  line-height: 1.9;
}

.terms-of-service__items {
  width: 100%;
  margin-top: rem(35.2);
  list-style-type: decimal;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1.4em;
  line-height: 2;
  @include mq("md") {
    margin-top: rem(32);
  }
}

.terms-of-service__items:nth-child(2) {
  margin-top: rem(32);
}

.terms-of-service__sub-items {
  text-indent: 0;
  margin-left: rem(-22.4);
}

.terms-of-service__sub-item {
  display: inline;
  text-indent: 0;
  padding-left: 0;
}

.terms-of-service__text {
  margin-top: rem(32);
  line-height: 2;
}
