@use "global" as *;

.top-campaign {
  overflow-x: hidden;
}

.top-campaign__inner.inner {
  width: 100vw;
  @include mq("md") {
    max-width: 78.5%;
  }
}

.top-campaign__swiper-container {
  position: relative;
  margin-right: calc(50% - 50vw);
  height: 100%;
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.top-campaign__button-wrapper {
  margin-top: rem(36);
  text-align: center;
  margin-left: rem(-4);
  @include mq("md") {
    margin-top: rem(76);
  }
}
