@use "global" as *;

.top-voice {
  @include mq("md") {
    position: relative;
  }
}

.top-voice::before {
  @include mq("md") {
    content: "";
    background-image: url(../images/common/fishes-to-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(301);
    height: rem(138);
    position: absolute;
    top: rem(-108);
    left: calc(50% - min(48vw, rem(620.8)));
    z-index: 1;
  }
}

.top-voice::after {
  @include mq("md") {
    content: "";
    background-image: url(../images/common/tatsunootoshigo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(71);
    height: rem(162);
    position: absolute;
    right: calc(50% - min(47.7vw, rem(540.8)));
    bottom: rem(-64);
    z-index: 1;
  }
}

.top-voice__cards-wrap {
  width: 100%;
  margin-inline: auto;
  margin-top: rem(44.8);
  @include mq("md") {
    margin-top: rem(32);
  }
}

.top-voice__voice-cards {
  width: rem(345);
  margin-inline: auto;
  display: grid;
  grid-template-columns: rem(345);
  row-gap: rem(40);
  @include mq("md") {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(40);
    margin-inline: initial;
  }
}

.top-voice__button-wrapper {
  margin-top: rem(40);
  text-align: center;
  margin-right: rem(4);
  @include mq("md") {
    margin-top: rem(80);
  }
}
