@use "global" as *;

.top-price {
  background-color: $light-blue;
  position: relative;
  padding: rem(76) 0 rem(80);
  @include mq("md") {
    padding: rem(88) 0 rem(100);
  }
}

.top-price::before {
  @include mq("md") {
    content: "";
    background-image: url(../images/common/fishes-to-left_blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(437);
    height: rem(201);
    position: absolute;
    bottom: rem(60);
    left: calc(50% - min(48.7vw, rem(624)));
    z-index: 1;
  }
}

.top-price__container {
  margin-top: rem(29.6);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.top-price__flex-container {
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    gap: 8.23%;
  }
}

.top-price__img-wrapper {
  width: 100%;
  @include mq("md") {
    max-width: rem(492);
    width: 45.885%;
  }
}

.top-price__img-wrapper picture {
  aspect-ratio: 345 / 227;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 492 / 746;
  }
}

.top-price__body {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: 0;
    width: 45.885%;
  }
}

.top-price__category-item-title {
  font-size: rem(16);
  font-weight: $bold;
  padding-bottom: rem(3.2);
  border-bottom: rem(1) solid $main-blue;
}

.top-price__category-item dl {
  display: flex;
  margin-top: rem(8);
}

.top-price__category-item:not(:first-child) {
  margin-top: rem(40);
}

.top-price__category-item dt,
.top-price__category-item dd {
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(24 / 14);
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}

.top-price__category-item dt {
  width: 80%;
}

.top-price__category-item dd {
  width: 20%;
  text-align: right;
  @include mq("md") {
    padding-right: rem(6);
  }
}

.top-price__button-wrapper {
  margin-top: rem(38.4);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
