@use "global" as *;

.top-blog {
  padding-top: rem(78);
  @include mq("md") {
    width: 100%;
    padding-top: rem(95);
    background-image: url(../images/common/top-blog-bg.jpg);
    background-position: 0 0;
    background-size: 100% rem(500);
    background-repeat: no-repeat;
    position: relative;
  }
}

.top-blog__fish-illustration {
  @include mq("md") {
    width: rem(437);
    position: absolute;
    top: rem(24);
    left: calc(50% - min(48.5vw, rem(620)));
  }
}

.top-blog__fish-illustration img {
  @include mq("md") {
    aspect-ratio: 437 / 201;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.top-blog__cards-wrap {
  margin-top: rem(26);
  padding: 0 rem(6);
  @include mq("md") {
    margin-top: rem(80);
    padding: 0;
  }
}

.top-blog__blog-cards {
  width: rem(333);
  margin-inline: auto;
  display: grid;
  grid-template-columns: rem(333);
  row-gap: rem(40);
  @include mq("md") {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(40);
    margin-inline: initial;
  }
}

.top-blog__button-wrapper {
  margin-top: rem(38);
  text-align: center;
  margin-right: rem(4);
  @include mq("md") {
    margin-top: rem(80);
    margin-right: rem(6);
  }
}
