@use "global" as *;

.top-campaign {
  overflow-x: hidden;
}

.top-campaign__inner.inner {
  width: 100%;
  position: relative;
}

.top-campaign__swiper-container {
  width: 100vw;
  margin-right: calc(50% - 50vw);
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.top-campaign__swiper__arrow-wrap {
  @include mq("md") {
    display: flex;
    height: rem(80);
    align-items: center;
    position: absolute;
    right: calc(50% - min(47.66vw, rem(539.2)));
    top: rem(8);
    gap: rem(80);
  }
}

.top-campaign__button-wrapper {
  margin-top: rem(34.4);
  text-align: center;
  margin-right: rem(4);
  @include mq("md") {
    margin-top: rem(76);
  }
}
