@use "global" as *;

.top-campaign {
  overflow-x: hidden;
}

.top-campaign__inner.inner {
  width: 100%;
  @include mq("md") {
    max-width: rem(1210);
  }
}

.top-campaign__swiper-container {
  width: 100vw;
  position: relative;
  margin-right: calc(50% - 50vw);
  margin-top: rem(28);
  @include mq("md") {
    margin-top: rem(40);
    padding-left: calc((100vw - rem(1080)) / 2);
  }
}

.top-campaign__swiper__arrow-wrap {
  display: flex;
  height: rem(80);
  justify-content: space-between;
  position: absolute;
  right: 13.5%;
  top: rem(-124.8);
  width: rem(257.195);
}

.top-campaign__button-wrapper {
  margin-top: rem(36);
  text-align: center;
  margin-left: rem(-4);
  @include mq("md") {
    margin-top: rem(76);
  }
}
