@use "global" as *;

.voice-card {
  width: 100%;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}

.voice-card__inner {
  padding: rem(15) rem(16) rem(24);
  margin-inline: auto;
  @include mq("md") {
    padding: rem(24);
  }
}

.voice-card__top {
  display: flex;
  gap: rem(13);
}

.voice-card__title-wrapper {
  border-bottom: rem(1) solid $main-blue;
  padding-bottom: rem(4);
  flex: 1;
}

.voice-card__title-flex-box {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.voice-card__personal-info {
  font-size: rem(12);
  color: $black;
}

.voice-card__title {
  margin-top: rem(4);
  color: $black;
  font-size: rem(16);
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(24);
    line-height: 1.5;
  }
}

.voice-card__img {
  max-width: rem(151);
  width: calc((100% - rem(13)) / 2);
  aspect-ratio: 151 / 117;
  margin-top: rem(9);
  @include mq("md") {
    max-width: rem(180);
    aspect-ratio: 180/ 140;
    margin-top: 0;
  }
}

.voice-card__img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice-card__bottom {
  margin-top: rem(15);
}

.voice-card__text {
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
}
