@use "global" as *;

.voice-card {
  width: 100%;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  @include mq("md") {
    max-width: rem(520);
  }
}

.voice-card__inner {
  padding: rem(15) rem(16) rem(24);
  margin-inline: auto;
  @include mq("md") {
    padding: rem(24);
  }
}

.voice-card__top {
  display: flex;
  gap: rem(13);
  align-items: flex-end;
  @include mq("md") {
    gap: rem(16);
  }
}

.voice-card__title-wrapper {
  border-bottom: rem(1) solid $main-blue;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.voice-card__title-flex-box {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    padding-top: rem(25.6);
    align-items: flex-end;
  }
}

.voice-card__personal-info {
  font-size: rem(12);
  line-height: 1.5;
  color: $black;
  @include mq("md") {
  }
}

.voice-card__title {
  padding-top: rem(4.8);
  color: $black;
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(24);
    line-height: 1.5;
    padding-top: rem(8);
    padding-bottom: rem(2);
  }
}

.voice-card__img {
  max-width: rem(151);
  width: calc((100% - rem(13)) / 2);
  @include mq("md") {
    max-width: rem(180);
  }
}

.voice-card__img figure img {
  aspect-ratio: 151 / 117;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 180/ 140;
  }
}

.voice-card__bottom {
  margin-top: rem(15);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.voice-card__text {
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
}
